{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My first web page</title>
</head>


<style type="text/css">
/* Body styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d1fffb;
}

/* Heading styles */
h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #35d9cb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Section styles */
.section {
  margin-bottom: 30px;
  line-height: 2.8;
}
li li {
list-style-type: circle;
}

</style>


<body>
    <div class="section">
        <h2>ABOUT ME</h2>
        <p>Hi there! I'm Janovin</p>
        <p>I come from Johannesburg and I am currently in my final year of university at
            Stellenbosch studying BCom (Strategy and Innovation). I am passionate about music and writing.
            I'm interested in start-ups, branding and psychology.  </p> 
        <p>In my spare time I like to spend time with friends,
            play tennis, play guitar or go down rabbit holes of interesting topics. 
            I am also an avid photographer. I want to live up to my potential, be a pillar in my 
            communnity and ultimately make my 8-year-old-self proud. My goals are to start my own business 
            and to write a book. </p>
    </div>
        
    <div class="section">
        <h2>CONTACT DETAILS</h2>
        <p>Phone Number: 0810464228</p>
        <p>Email: janovinscholtz2001@gmail.com</p>
    </div>

    <div class="section">
    <h2>SKILLS AND COMPENTENCIES</h2>
        <p><ul>
        <li>Public Speaking</li>
        <li>Marketing Research</li>
        <li>Python</li>
        <li>Professional Writing</li>
        <li>Adobe Photoshop & Lightroom</li>
        </ul></p>
    </div>

    <div class="section">
    <h2>EDUCATION</h2>
        <p><li><b>St John's College:</b> 82% Aggregate (Distinctions: English, Drama, German and Afrikaans)</li>
        <li><b>Stellenbosch University:</b> BCom (Management Sciences): Strategy and Innovation</li>
        My degree focus on Marketing and Strategy in addition to Accounting and Economics</p>
    </div>


    <div class="section">
    <h2>WORK EXPERIENCE</h2>
        <p><li>Freelance Photography: approximately 15 clients</li>
        <li>Barista at three different specialty coffee shops (2017 - 2020)</li></p>
    </div>

    <div class="section">
    <h2>PROJECTS</h2>
        <p><b>Task Manager</b></p>
        <p>This Python program allows small businesses to add, assign, edit tasks and generate task reports.</p>
        <p><b>Inventory Management</b></p>
        <p>This Python program allows a shoe/sneaker business to manage their inventory.</p>
        <!-- Using <a> tags to add hyperlinks -->
        <p><em>GitHub:</em><a href=https://github.com/Janovin/My-Work> Click Here</a></p>
    </div>

    <div class="section"></div>
    <h2>PHOTOGRAPHY</h2>
        <p><em>Photography Portfolio:</em> <a href=https://janovinscholtz.mypixieset.com> Click Here</a></p>
    </div>


</body>
</html>